@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
@{
    var selection = CurrentPage.AncestorOrSelf(1).Children.Where("Visible && UmbracoNavHide == false");

    var projectDropdownPublic = CurrentPage.AncestorOrSelf(1).Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children.Where("Visible && projectStatus.Contains(\"25\") && UmbracoNavHide == false").OrderBy("CreateDate desc"); // && projectStatus.Contains(\"25\") - gør sådan at den kun viser alle de projekt items der er completed

    // where Where("projectStatus" = projectValue)


    var projectDropdownGuest = CurrentPage.AncestorOrSelf(1).Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children.Where("Visible && projectStatus.Contains(\"25\") || projectStatus.Contains(\"23\") && UmbracoNavHide == false").OrderBy("CreateDate desc"); // - gør sådan at den kun viser alle de projekt items der er completed og initiated

    var projectDropdownActive = CurrentPage.AncestorOrSelf(1).Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children.Where("Visible && UmbracoNavHide == false").OrderBy("CreateDate desc"); // - Viser alle projekter for Active member


    var projectValue = Umbraco.GetPreValueAsString(25);

    

}

   
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AarhusWebDevCoop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

		  @foreach (var item in selection){

              if (@item.Name.Equals("Projects") ){ <!-- Tjekker om navnet er Projects og hvis det er, vises dropdown menuen - our projects - og viser kun de projekter i dropdown, som man har adgang til at se -->
				  <li class="dropdown">
					  <a href="@item.Url" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@item.Name <span class="caret"></span></a>
					  <ul class="dropdown-menu">
                          <!-- Spytter hver artikel underside ud fra Projects level - viser kun de projekter i dropdown, som man har adgang til at se - her hvis man ikke er logget ind (det samme som Public), så vises kun de completede projekter -->
                          @if (@Members.GetCurrentLoginStatus().Name == null)
                          {
                              foreach (var page in projectDropdownPublic)
                              {
                                  var isProtected = umbraco.library.IsProtected(page.id, page.path);
                                  var loginAccess = umbraco.library.IsProtected(page.id, page.path) && umbraco.library.HasAccess(page.id, page.path);

                                  if (!isProtected || loginAccess)
                                  {
                                    <li>
                                        <a href="@page.Url">@page.Name</a>
                                    </li>
                                  }
                              }
                          }
                          else if (System.Web.Security.Roles.IsUserInRole(@Members.GetCurrentLoginStatus().Name, "Guest"))
                          {
                            @* Hvis brugeren er logget ind som Guest, så vises de completede og initiatede projekter *@
                          foreach (var page in projectDropdownGuest)
                          {
                              var isProtected = umbraco.library.IsProtected(page.id, page.path);
                              var loginAccess = umbraco.library.IsProtected(page.id, page.path) && umbraco.library.HasAccess(page.id, page.path);


                              if (!isProtected || loginAccess)
                              {
                                        <li>
                                            <a href="@page.Url">@page.Name</a>
                                        </li>
                                  }
                              }
                          }

                          else if (System.Web.Security.Roles.IsUserInRole(@Members.GetCurrentLoginStatus().Name, "Active"))
                          {
                            @* Hvis brugeren er logget ind som Active, så vises alle projekter *@
                                  foreach (var page in projectDropdownActive)
                                  {

                                        <li>
                                            <a href="@page.Url"> @page.Name</a>
                                         </li>
                                  }
                              }


                      </ul>

                    </li> <!-- dropdown slutter -->

              } else {
                  <!-- Spytter selve menupunkterne ud -->		  
				  <li>
					  <a href="@item.Url">@item.Name</a>
				</li>
			  } 
		  } 
				 

      </ul> <!-- slut ul -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
