@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<html>
<head>
    <title>@Umbraco.Field("siteTitle")</title>
    <meta name="@Umbraco.Field("metaDescription")" content="@Umbraco.Field("metaKeywords")">
	<!-- CSS reference -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Stylesheets/style.css" rel="stylesheet" />
	<!-- Her er menuen -->
   	@Umbraco.RenderMacro("mainMenu") 
	<!-- Script filer -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
<script>
	$(document).ready(function() {
   		$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
	});
</script>
	<div class="container">		  
    	@RenderBody()
	</div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
	